.sign-up-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
          to right,
          rgba(0, 128, 0, 0.632),
          rgba(83, 227, 83, 0.647),
          rgba(172, 255, 47, 0.744)
        );
  }
  
  .sign-up-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .sign-up-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .sign-up-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sign-up-button:hover {
    background-color: #218838;
  }
  